body{
    margin: 0;    
}
main{
    background-image: url(../images/home4.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: none;
    background-size: cover;
}
.form-area{
    color: white;
    text-align: center;
    margin-top: 50px;
}