body{
    margin: 0;    
}
.home{
    background-image: url(../images/home4.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: none;

}
.form-area{
    color: white;
    position: absolute;
    border: 1px solid white;
    margin-top: 100px;
    width: 35%;
}