body{
    margin: 0;    
}
.home{
    background-image: url(../images/home4.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: none;
}
.form-area{
    color: white;
    position: absolute;
    border: 2px solid white;
    border-radius: 5px;
    margin-top: 100px;
    width: 35%;
    margin-left: 30%;
}
.form-area .title{
    font-size: 20px;
    text-align: center;
    margin: 20px 0 15px 0;    
}